* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: var.$font-family-base;
    font-weight: var.$font-weight-normal;
    line-height: var.$line-height-base;
    color: var.$text-color-base;
  }
  
  h1, h2, h3, p, ul {
    margin-top: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  h1, h2, h3 {
    margin-bottom: rem-calc(15);
    font-weight: var.$font-weight-bold;
  }
  