.sidebar {
    position: fixed;
    height: 100vh;
    width: 250px;
    background-color: var.$background-color-base;
    color: var.$font-color-base;
    padding: 20px;
  
    .inner {
      display: flex;
      flex-direction: column;
  
      img {
        width: 150px;
        height: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
      }
  
      .navigation ul {
        list-style-type: none;
        padding: 10px;
  
        li a {
          text-decoration: none;
          color: var.$font-color-base;
          display: flex;
          align-items: center;
          padding-top: 20px;
          line-height: 1;
          margin-top: 10px;
        }
      }
    }
  
    .copy {
      padding-top: 280px;
      font-size: small;
    }
  
    @include laptop-l-styles {
      width: 200px;
      .fa-solid,
      .fas {
        display: none;
      }
    }
  
    @include laptop-xl-styles {
      width: 200px;
      .fa-solid,
      .fas {
        display: none;
      }
    }
  
    @include laptop-m-styles {
      width: 200px;
      .fa-solid,
      .fas {
        display: none;
      }
    }
  
    @include tablet-styles {
      width: 150px;
  
      .navigation {
        display: none;
      }
  
      .copy {
        display: none;
      }
  
      .inner img {
        width: 100px;
      }
  
      .fa-solid,
      .fas {
        color: var.$font-color;
        margin-left: 680px;
        font-size: 30px;
        margin-top: -53px;
        border: 2px solid var.$font-color;
        border-radius: 0;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-width: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    @include mobile-l-styles {
      .navigation {
        display: none;
      }
  
      .copy {
        display: none;
      }
  
      .fa-solid,
      .fas {
        color: var.$font-color;
        margin-left: 335px;
        font-size: 30px;
        margin-top: -53px;
        border: 2px solid var.$font-color;
        border-radius: 0;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-width: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    @include mobile-m-styles {
      .navigation {
        display: none;
      }
  
      .copy {
        display: none;
      }
  
      .fa-solid,
      .fas {
        color: var.$font-color;
        margin-left: 300px;
        font-size: 30px;
        margin-top: -53px;
        border: 2px solid var.$font-color;
        border-radius: 0;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-width: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    @include mobile-s-styles {
      .navigation {
        display: none;
      }
  
      .copy {
        display: none;
      }
  
      .fa-solid,
      .fas {
        color: var.$font-color;
        margin-left: 245px;
        font-size: 30px;
        margin-top: -53px;
        border: 2px solid var.$font-color;
        border-radius: 0;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-width: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  